body {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  font-style: normal;
  background-color: #fff;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

header .container {
  width: 40%;
}
header .container .logo-1 {
  top: 30px;
  left: 8%;
}
header .container .logo-2 {
  top: 30px;
  left: 8%;
  position: absolute;
}

#main {
  padding-top: 10px;
}
#main .photographer {
  width: 100%;
  padding: 0 10%;
  height: 210px;
}
#main .photographer__card__contact__name {
  font-size: 3em;
}
#main .photographer__card__contact__name:focus, #main .photographer__card__contact__name:active {
  color: #db8876;
}
#main .photographer__card__contact__btn {
  position: fixed;
  margin: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0;
  z-index: 1;
  font-size: 1.125em;
  padding: 5px 0;
}
#main .photographer__legend {
  height: fit-content;
  justify-content: flex-end;
}
#main .photographer__legend:focus .photographer__legend__city, #main .photographer__legend:active .photographer__legend__city {
  color: #901c1c;
}
#main .photographer__legend:focus .photographer__legend__slogan, #main .photographer__legend:active .photographer__legend__slogan {
  color: #525252;
}
#main .photographer__legend__city {
  font-size: 1.25em;
  padding: 5px 0 5px 0;
  margin: 0;
}
#main .photographer__legend__slogan {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 1em;
}
#main .photographer__legend__tags {
  margin: 5px 0 0 0;
}
#main .photographer__legend__tags:focus {
  border: none;
}
#main .photographer__legend__tags__tag {
  font-size: 1em;
}
#main .photographer__container__img {
  width: 190px;
  height: 190px;
}
#main .photographer__container__img:focus, #main .photographer__container__img:active {
  box-shadow: 4px 4px 8px #c4c4c4;
}
#main .portfolio__menu {
  display: none;
}
#main .portfolio__content__card__media:focus {
  border: none;
}
#main .portfolio__content__card__legend__title:focus {
  font-weight: 400;
  color: #901c1c;
}
#main .portfolio__content__card__legend__like:focus .portfolio__content__card__legend__like__empty, #main .portfolio__content__card__legend__like:hover .portfolio__content__card__legend__like__empty, #main .portfolio__content__card__legend__like:active .portfolio__content__card__legend__like__empty {
  font-size: 1.5em;
}

.lightbox__content {
  width: 94%;
}
.lightbox__content__container__media__insert:focus {
  border: none;
}
.lightbox__content__container__media__title {
  font-size: 1.4em;
}
.lightbox__content__container__media__title:focus, .lightbox__content__container__media__title:active {
  font-weight: 400;
  outline: none;
}
.lightbox__content__icon__close {
  font-size: 35px;
  top: 20px;
}
.lightbox__content__icon--right, .lightbox__content__icon--left {
  font-size: 35px;
}

.contact__content {
  width: 75%;
}
.contact__content__title {
  font-size: 2.75em;
}
.contact__content__title:focus, .contact__content__title:active {
  color: #000;
}
.contact__content__close {
  font-size: 3em;
  top: 12px;
}
.contact__content__body__form__data__label {
  font-size: 1.5em;
}
.contact__content__body__form__data__label:focus, .contact__content__body__form__data__label:active {
  color: #525252;
  outline: none;
}
.contact__content__body__form__data__control {
  font-size: 1.35em;
}
.contact__content__body__form__data__control:focus, .contact__content__body__form__data__control:active {
  outline: none;
  border: none;
  color: #000;
}
.contact__content__body__form__data__error__first {
  top: 9px;
}
.contact__content__body__form__data__error__last {
  top: 9px;
}
.contact__content__body__form__data__error__email {
  top: 9px;
}
.contact__content__body__form__data__error__message {
  top: 9px;
}

.footer {
  display: none;
}
