body {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  font-style: normal;
  background-color: #fff;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

header {
  height: 70px;
}
header .container {
  width: 45%;
}
header .container .logo-1 {
  width: 140px;
  top: 20px;
  left: 6%;
}
header .container .logo-2 {
  width: 140px;
  top: 20px;
  left: 6%;
}

#main {
  top: 10px;
}
#main .photographer {
  padding: 0 7%;
  height: fit-content;
}
#main .photographer__card__contact__name {
  font-size: 2em;
  margin-right: 2%;
}
#main .photographer__card__contact__btn {
  height: fit-content;
  margin: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0;
  z-index: 1;
  font-size: 1.125em;
  padding: 5px 0;
}
#main .photographer__legend {
  height: fit-content;
  justify-content: flex-end;
}
#main .photographer__legend__city {
  font-size: 1em;
  padding: 0 0 5px 0;
  margin: 0;
}
#main .photographer__legend__slogan {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 0.7em;
}
#main .photographer__legend__tags {
  margin: 5px 0 0 0;
  flex-wrap: wrap;
}
#main .photographer__legend__tags__tag {
  font-size: 0.6em;
  margin-bottom: 5px;
}
#main .photographer__container {
  align-self: flex-start;
}
#main .photographer__container__img {
  width: 100px;
  height: 100px;
}
#main .portfolio {
  margin-top: 10px;
}
#main .portfolio__content {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 20px 6%;
}
#main .portfolio__content__card {
  width: 100%;
  min-width: 300px;
  min-height: 210px;
  height: fit-content;
}
#main .portfolio__content__card__media {
  width: 100%;
  height: 190px;
}
#main .portfolio__content__card__media__icon {
  top: 85px;
  font-size: 2em;
}
#main .portfolio__content__card__legend {
  max-width: none;
  width: 100%;
  height: fit-content;
  line-height: 1.65em;
  padding: 7px 2px 11px 2px;
}
#main .portfolio__content__card__legend__title {
  font-size: 1em;
}
#main .portfolio__content__card__legend__like {
  width: 65px;
}
#main .portfolio__content__card__legend__like:focus .portfolio__content__card__legend__like__empty, #main .portfolio__content__card__legend__like:hover .portfolio__content__card__legend__like__empty {
  font-size: 1.125em;
}
#main .portfolio__content__card__legend__like__cunt {
  font-size: 1em;
}
#main .portfolio__content__card__legend__like__empty {
  width: 27px;
  font-size: 1em;
}

.lightbox__content__container {
  width: 85%;
}
.lightbox__content__container__media__title {
  font-size: 1.125em;
}

.contact {
  padding: 0;
}
.contact__content {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.contact__content__title {
  font-size: 2.5em;
}
.contact__content__close {
  font-size: 2.5em;
  top: 15px;
}
.contact__content__body__form__data {
  margin-top: 12px;
}
.contact__content__body__form__data__label {
  font-size: 1.25em;
  padding: 3px 0;
}
.contact__content__body__form__data__control {
  height: 30px;
  padding: 5px 7px;
  font-size: 1.25em;
}
.contact__content__body__form__data__control::placeholder {
  font-size: 0.75em;
}
.contact__content__body__form__data__error__first {
  font-size: 0.9em;
  top: 8px;
}
.contact__content__body__form__data__error__last {
  font-size: 0.9em;
  top: 8px;
}
.contact__content__body__form__data__error__email {
  font-size: 0.9em;
  top: 8px;
}
.contact__content__body__form__data__error__message {
  font-size: 0.9em;
  top: 8px;
}
.contact__content__body__form__submit {
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 15px;
  height: fit-content;
  min-height: 85px;
}
.contact__content__body__form__submit__btn {
  height: fit-content;
  padding: 5px;
  margin: 1% 0;
}
.contact__content__body__form__submit__confirm {
  text-align: center;
  padding: 5px;
  margin: 1% 0;
}

#message {
  height: 130px;
}
